:root{

}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

#main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;
}

#podcasts{
  align-self: flex-start;
}

.podcast-element {
    background: aliceblue;
    border: thin solid white;
    padding: 2% 5%;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
}

.podcastText {

}


#podcasts div p{
    margin: 0;
}

#podcasts div span{
    font-style: italic;
}

#search {
    font-size: 20px;
    width: 100%;
    margin: 2%;
}

#nowPlaying {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#nowPlaying :last-child{
    font-size: 14px;
}


/* podcast element buttons */
.play{
  cursor: pointer;

  background: black;
  height: 30px;
  width: 30px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.add{
  cursor: pointer;
  text-align: right;
  font-weight: bold;
  font-size: 40px;
}

#queue {
  width: 100%;
}


#queue > div{
  padding: 2px;
}

#queue > :first-child {
  border-bottom: solid black;
}

#queue > :not(:first-child) {
  border-bottom: thin solid black;
  margin: 1px;
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
}

#queue > div > :last-child{
  font-weight: 800;
  margin-right: 2%;
}